/**
* style.css
*/

* {
    box-sizing: border-box;
}

ul {
    text-align: left;
    padding-top: 0em;
    padding-left: 1.1em;
    list-style: none;
}

select {
    font-size: 1.3em;
}

.col {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.container {
    padding: 50px;
}
.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
   
}

/* Bank Card and common elemnts with work card style, start */
#small-card{
    height: 230px;
}

#small-card span {
    font-size: 1.2em;
}

#balanceText {
    position: absolute;
    left: 10%;
}

#balance {
    position: absolute;
    right: 20%;
}

#pay {
    position: absolute;
    right: 20%;
}

#loanBtn {
    position: absolute;
    bottom: 25%;
    right: 30%;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    background-color: burlywood;
}

#currency {
    position: absolute;
    right: 10%;
}

#outstandingLoanText {
    position: absolute;
    left: 10%;
    bottom: 50%;
}

#outstandingLoan {
    position: absolute;
    right: 20%;
    bottom: 50%;
}

#outstandingLoanCurrency {
    position: absolute;
    right: 10%;
    bottom: 50%;
}
/* Bank Card and common elemnts with work card style, stop */

/* Work Card style start */
.card button {
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    background-color: burlywood;
}

#bankBtn {
    position: absolute;
    left: 10%;
    bottom: 25%;
    background-color: green;
}

#workBtn {
    position: absolute;
    right: 10%;
    bottom: 25%;
    background-color: red;
}

#repayBtn {
    position: absolute;
    bottom: 10%;
    right: 30%;
}
/* Work Card style stop */

#featureTitel {
    text-align: justify;
    padding-left: 5px;
    padding-bottom: 0px;
}

.card-under {
    margin-top: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    height: 200px;
    
}

#laptopPrice {
    position: absolute;
    top: 10%;
    right: 10%;
    font-weight: bold;
    font-size: 2em;
}

#laptopBuyBtn {
    position: absolute;
    bottom: 30%;
    right: 10%;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    background-color: burlywood;
    font-size: 1em;
}

#laptopImg {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 180px;
}

#laptopTitle {
    position: absolute;
    left: 30%;
    font-size: 1.5em;
}

#laptopDesc {
    position: absolute;
    left: 30%;
    top: 30%;
}

#title {
    text-align: center;
    padding-top: 10px;
}



@media screen and (max-width: 600px) {
    .col {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }